:root {
    --main-white: #f0f0f0;
    --main-black: #1e1e22;  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: poppins;
    background-color: var(--main-white);
    color: var(--main-white);
}

#Container {
    width: 100%;
    color: var(--main-black);
}

#navbar {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid var(--main-black);
    position: fixed;
    background-color: var(--main-white);
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.nav-list li {
    padding: 20px 50px 20px 20px;
}

#navbar a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: var(--main-black);
}

@media only screen and (max-width: 425px) {
    #navbar {
        height: 60px;
    } 

    .nav-list {
        justify-content: space-evenly;
    }
    .nav-list li {
        padding: 20px 0 0 0;
    }

    #navbar a {
        font-size: 16px;
    }
}

#welcome-section {
    width: 100%;
    height: 100vh;
    background-color: #2e2e63;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--main-white);
}

#welcome-section h1 {
    font-size: 38px;
    font-weight: 900;
}

#welcome-section p {
    font-size: 20px;
    font-weight: 600;
}

#projects {
    width: 100%;
    height: 500px;
    background-color: rgb(94, 110, 60);
    text-align: center;
}

#projects h2 {
    margin: 0 auto;
    padding-top: 50px;
    text-decoration: underline;
}

.project-box {
    width: 400px;
    height: 300px;
    background-image: url("https://raw.githubusercontent.com/Ghazi-360/Images/main/screencapture-file-D-Projects-Javascript-BMR-Calculator-index-html-2021-01-24-14_27_28.png?token=AQ5AOL4WSXPW6OAHODEG7FLABU7CO");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: black;
}