:root {
    --main-white: #f0f0f0;
    --main-black: #1e1e22;  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: poppins;
    background-color: var(--main-white);
    color: var(--main-white);
}

#Container {
    width: 100%;
    color: var(--main-black);
}

#navbar {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid var(--main-black);
    
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.nav-list li {
    padding: 20px 50px 20px 20px;
}

#navbar a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: var(--main-black);
}

@media only screen and (max-width: 425px) {
    #navbar {
        height: 60px;
    } 

    .nav-list {
        justify-content: space-evenly;
    }
    .nav-list li {
        padding: 20px 0 0 0;
    }

    #navbar a {
        font-size: 16px;
    }
}